<ion-view hide-nav-bar="true" title="Dashboard">
    <md-content has-header="false" class="md-padding" layout="column" layout-margin>
        <md-whiteframe class="md-whiteframe-1dp" layout="column">
            <md-toolbar layout-padding class="md-accent">Recent Updates</md-toolbar>
            <div style="padding: 8px">
                There is a fire in <b>sector 3</b>.
            </div>
        </md-whiteframe>

        <md-whiteframe class="md-whiteframe-1dp" layout="column">
            <md-toolbar layout-padding class="md-warn">Health</md-toolbar>
            <div style="padding: 8px">
                The system is <b>Unhealthy</b>.
            </div>
        </md-whiteframe>

        <md-whiteframe class="md-whiteframe-1dp" layout="column">
            <md-toolbar layout-padding>Upcoming</md-toolbar>
            <div style="padding: 8px">
                You have <b>29</b> meetings on your calendar tomorrow.
            </div>
        </md-whiteframe>
    </md-content>
</ion-view>
