<div layout="column" layout-fill>
  <md-tabs md-swipe-content="true" layout-fill>
    <md-tab label="Status" ui-sref="tab.dash">
      <ion-nav-view name="tab-dash" layout="column" layout-fill></ion-nav-view>
    </md-tab>
    <md-tab label="Chats" ui-sref="tab.chats">
      <ion-nav-view name="tab-chats" layout="column" layout-fill></ion-nav-view>
    </md-tab>
    <md-tab label="Account" ui-sref="tab.account">
      <ion-nav-view name="tab-account" layout="column" layout-fill></ion-nav-view>
    </md-tab>
  </md-tabs>
</div>
